/* Estilização geral do site */
body {
    font-family: "Arial";
    margin: 0;
    padding: 0;
    border: 0;
}


/* Estilização do Header da página */
header {
    background-color: #078fff;
}

/* Estilização do Logotipo */
.logo {
    width: 50%;
}

/* Estilização do menu */
nav {
    right: 0;
    position: absolute;
    top: 100px;
}

nav li {
    display: inline;
    margin: 0 15px 0 0;
}

nav a {
    text-transform: uppercase;
    color: #ff723a(150, 121, 252);
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: rgb(246, 249, 255);
    text-decoration: underline;
}

/* Estilização da Caixa do Logotipo */
.logo_caixa {
    width: 940px;
    position: relative;
    margin: auto;
}
/*Estilização do Banner*/
.banner{
    width: 100%;;
}
/*Estilização da sessão sobre a pizzaria do seu pizza*/
.pizza{
    width: 100px;
    float: left; 
    margin: 0 20px; 
}
.titulo_pizza{
    clear: left;
    text-align: center;
    font-size: 40px;
    margin: 0;
    padding: 10px;
}
.area-pizza{
    width: 100%;
    text-align: justify;
    margin: 0;
    background-color: #395bf3;
    padding: 0 0 10px 0;
}
/*Titulos - Padrão*/
.titulo-padrao{
    padding-top: 20px;
    margin: 0;
    clear: left;
    text-align: center;
}
/*Estilização da sessão nosso estabelecimento (mapa)*/
.mapa{
    background: linear-gradient(#395bf3, #ffffff);
}
.mapa p{
    text-align: center;
}
.mapa iframe{
    margin: auto;
    display: block;
}
/*Estilização da sessão Beneficios*/
.beneficios{
    background-color: #ffffff;

}
.conteudo_beneficios{
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
}
.lista-beneficios{
    width: 20%;
    display: inline-block;
    vertical-align: top;
    list-style: "🐵";
    padding-left: 35%;
    margin-top: 30px;
}
.itens{
    line-height: 1.5;
}
.itens::before{
    content: "🐵";
}
.itens:first-child{
    font-weight: bold;
}
.img_beneficios{
    width: 10%;
    box-shadow: 10px 10px 5px 8px rgb(238, 255, 0);
    opacity: 1;
    transition: 400ms;
}
.img_beneficios:hover{
    opacity: 0.7;
}
.video{
    margin: auto;
    display: block;
}
/*Estilização do footer */
footer{
    text-align: center;
    background: url("");
    padding: 40px;
}
.copyright{
    color: white;
    font-size: 12px;
    margin: 20px;
}
.logo_footer{
    width: 20%;
}